<p style="color: green"><%= notice %></p>

<%= render @countdown %>

<div class="d-flex justify-content-center">
  <%= link_to "Modifier", edit_countdown_path(@countdown), class: "btn btn-primary" %>
  <%= link_to "Retour", countdowns_path, class: "btn btn-secondary mx-3" %>
  <%= button_to "Supprimer", @countdown, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>
